# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Distribution and packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE-related files and directories
.idea/
*.iws

# Jupyter Notebook
.ipynb_checkpoints
